<h4>Events for <%= @user.name %></h4>
<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
    <ul>
    <% @user.created_events.each do |event| %>
        <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
    </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h1>Attending Events</h1>
  <ul>
    <% @user.attended_events.each do |attended| %>
      <li><h3><%= link_to attended.title, event_path(attended)  %></h3></li>  
    <% end %>
  </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
    <h1>Future Events</h1>
    <ul>
      <% @upcoming_events.each do |event| %>
        <li><h3><%= link_to event.title, event_path(event) %></h3></li>  
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 form-new-user col-md-offset-3">
    <h1>Past Events</h1>
    <ul>
      <% @past_events.each do |event| %>
        <li><h3><%=link_to event.title, event_path(event) %></h3></li>  
      <% end %>
    </ul>
  </div>
</div> 

