
<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h3> All Events </h3>
    <ul>
    <% @events.each do |event| %>
        <li><h3><%= link_to event.title, event_path(event) %></h3></li>
        <li><%= event.description %></li>
        <li><%= event.location %></li>
        <li><%= event.date %></li>
    <% end %>
    </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h3> Past Events </h3>
    <ul>
    <% Event.past.each do |event| %>
        <li><h3><%= link_to event.title, event_path(event)  %></h3></li>
        <li><%= event.description %></li>
        <li><%= event.location %></li>
        <li><%= event.date %></li>
    <% end %>
    </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h3> Future Events </h3>
    <ul>
    <% Event.upcoming.each do |event| %>
        <li><h3><%= link_to event.title, event_path(event)  %></h3></li>
        <li><%= event.description %></li>
        <li><%= event.location %></li>
        <li><%= event.date %></li>
    <% end %>
    </ul>
  </div>
</div> 
