<h1>Event Creator: <%= link_to @event.creator.name,user_path %></h1>


<h1><%=@event.title %></h1>

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
    <ul>
        <li><%= @event.description %></li>
        <li><%= @event.location %></li>
        <li><%= @event.date %></li>
    </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h1>Event Attendees</h1>
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><h3><%= attendee.name %></h3></li>  
    <% end %>
  </ul>
  </div>
</div> 

<div class="row">
  <div class="col-md-6 form-new-user col-md-offset-3">
  <h1>Event Attendances</h1>
  <ul>
    <% @event.attendances.each do |attendance| %>
      <li><h3><%= attendance.id %></h3></li>  
    <% end %>
  </ul>
  </div>
</div> 



